flask
openai
langchain-text-splitters
langchain-huggingface
langchain-chroma
sentence-transformers
PyPDF2
python-docx
python-dotenv
requests
textstat
tavily-python
google-auth-oauthlib
google-api-python-client
reportlab
